@model Task2.Models.Participant

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Confirmation Page";
}

<!DOCTYPE html>
<head>
    <title>Thank you for registering!</title>
    <link rel="stylesheet" href="~/css/confirmation.css" />
</head>
<h1>Спасибо за регистрацию!</h1>
<div class="table-container">
    @if (Model != null)
    {
        <ul>
            <li>Имя: @Model.Name</li>
            <li>Пол: @Model.Gender</li>
            <li>Возраст: @Model.Age</li>
            <li>Опыт: @Model.Experience</li>
            <li>Город: @Model.City</li>
        </ul>
    }
    else
    {
        <p>Participant details are not available.</p>
    }
    
    <p class="success-message">Регистрация прошла успешно!</p>
    <div>
        <a href="/Registration/Index" class="button">Назад к регистрации</a>
    </div>
</div>